<h2>Anmelden</h2>
<form action="<%= url "/login" %>" method="post">
  <h3>Emailadresse</h3>
  <p><input name="email" /></p>
  <h3>Passwort</h3>
  <p><input type="password" name="password" /></p>
  <input type="submit" />

</form>
